<img class="rover footer popup" src="/img/rover.png" data-html="<i class='circular heart icon'</i>">
<img class="rover2 footer popup" src="/img/rover2.png" data-content="No touch!">

<div class="ui inverted vertical footer segment">
	
	<div class="ui center aligned container">
		<div class="ui inverted section quote">"I don't want to come off as arrogant here, but I'm the greatest botanist on this planet."</div>
		<div class="ui horizontal inverted small divided link list">
			<a class="item">&copy Team MARS. 2017.</a>
		</div>
	</div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/noty.min.js"></script>
<script src="/js/sortable.min.js"></script>
<script src="/semantic/semantic.min.js"></script>
<script src="/semantic/components/form.js"></script>
<script src="/semantic/components/transition.js"></script>
<script src="/js/custom.js"></script>
