<div class="ui fixed stackable inverted menu">
	<div class="ui container">
		<a href="/profile" class="header item"><img class="logo" src="/img/logo.png"> Mars Control Panel</a>
		<a href="http://google.com" class="item" target="_blank"><i class="search icon"></i>Google Search</a>
		<div class="ui simple dropdown item">
			<i class="database icon"></i>Data Requests <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/requests">View Current</a>
				<a class="item" href="/data">View Available</a>
				<div class="divider"></div>
				<div class="item">
					<i class="dropdown icon"></i>
					Actions
					<div class="menu">
						<a class="item" href="/requests/new">New Request</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui simple dropdown item">
			<i class="mail icon"></i>Email <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/email">Inbox</a>
			</div>
		</div>
		<div class="ui simple dropdown item">
			<i class="tasks icon"></i>System <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="/system">Overview</a>
			</div>
		</div>
		<div class="right menu">
			<div class="ui simple dropdown item">
				<i class="user icon"></i><%= user.local.email %> <i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" href="/profile?tab=2">View Notifications</a>
					<a class="item" href="/profile">Edit Profile</a>
					<div class="divider"></div>
					<a class="item" href="/logout">Logout</a>
				</div>
				<div id="ncount" class="ui red circular mini label">10</div>
			</div>
		</div>
	</div>
</div>