<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>404 | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="profile">
	
	<%- include /partials/menu.ejs %>

	<div class="ui main text container">
		<div id="profile_info" class="ui piled segment">
			<center><img src="http://i.imgur.com/3NL5ZtF.jpg"><br><h2>foh. oh. foh.</h2></center>
		</div>
	</div>
	
	<%- include /partials/footer.ejs %>

	<script src="/js/jquery.min.js"></script>
	<script src="/semantic/semantic.min.js"></script>
	<script src="/js/custom.js"></script>
</body>
</html>