<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Data | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="profile">
	
	<%- include /partials/menu.ejs %>

	<div class="ui main text container">
		<div id="profile_info" class="ui piled segment">

			<div class="ui pointing secondary menu">
				<a class="item active" data-tab="first">Files <% if (files) { %>(<%= files.length %>)<% } %></a>
				<a class="item notify" data-tab="second">Websites <% if (sites) { %>(<%= sites.length %>)<% } %></a>
			</div>
			
			<div class="ui tab active" data-tab="first">
				<% if (files) { %>
				<div class="ui four special cards">
					<% for(var i=0; i<files.length; i++) { %>
						<div class="card">
							<div class="blurring dimmable image">
								<div class="ui dimmer">
									<div class="content">
										<div class="center">
											<a href="files/<%= user._id %>/<%= files[i] %>" target="_blank"><div class="ui inverted button">View File</div></a>
										</div>
									</div>
								</div>
								<div class="content" style="min-height: 130px; background: url('files/<%= user._id %>/<%= files[i] %>'), url('/img/file_icon.png'); background-size: cover; background-repeat: no-repeat;"></div>
								<div class="extra content" style="padding: 2px;"><i class="file icon"></i><%= files[i] %></div>
							</div>
						</div>
					<% } %>
				</div>
				<% } else { %>
				<p>No files available</p>
				<% } %>
			</div>
			<div class="ui tab" data-tab="second">
				<% if (sites) { %>
					<% for(var i=0; i<sites.length; i++) { %>
						<div class="ui segment"><a target="_blank" href="<%= sites[i].URL %>"><i class="linkify icon"></i><%= sites[i].URL %></a></div>
					<% } %>
				<% } else { %>
				<p>No websites available</p>
				<% } %>
			</div>
		</div>
	</div>
	
	<%- include /partials/footer.ejs %>

	<script>
		$( document ).ready(function() {
			$('.special.cards .image').dimmer({
				on: 'hover'
			});
		});
	</script>

</body>
</html>