<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Inbox | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="profile">
	
	<%- include /partials/menu.ejs %>

	<div class="ui main text container">
		<div id="profile_info" class="ui piled segment">
			<h4 class="ui horizontal divider header">Email</h4>
			<% if (emails) { %>
				<div class="ui styled fluid accordion">
					<% for(var i=0; i < emails.length; i++) { %>
						<% if (i==0) { %>
						<div class="active title">
						<% } else { %>
						<div class="title">
						<% } %>
							<div><i class="dropdown icon"></i><%= emails[i].subject %></div>
							<div><i class="comment outline icon"></i><%= emails[i].from %> | <%= emails[i].date %></div>
						</div>
						<% if (i==0) { %>
						<div class="active content">
						<% } else { %>
						<div class="content">
						<% } %>
							<pre style="text-align: left">
						<% for(var j=0; j < emails[i].message.length; j++) { %>
							<%= emails[i].message[j] %>
						<% } %>
							</pre>
						</div>
					<% } %>
				</div>	
			<% } else { %>
				No emails available.
			<% } %>
		</div>
	</div>
	
	<%- include /partials/footer.ejs %>

</body>
</html>