<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="./semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="./css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body id="login">
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui green image header">
				<img src="./img/logo.png" class="image"><br>
				<div class="content"> Martians Only </div>
			</h2>
			<form class="ui large form" action = "/login" method="post">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="email" placeholder="E-mail address" value="martian1@mars.com">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="password" placeholder="Password" value="command">
						</div>
					</div>
					<div class="ui fluid large green submit button">Login</div>
				</div>

				<% if (message.length > 0) { %>
				<div class="ui error"><%= message %></div>
				<% } %>

				<div class="ui error message"></div>
			</form>
		</div>
	</div>

	<%- include /partials/footer.ejs %>

	<script>
		$(document).ready(function() {
			$( ".footer" ).hide();
			$('.ui.form')
			.form({
				fields: {
					email: {
						identifier  : 'email',
						rules: [
						{
						type   : 'empty',
						prompt : 'Please enter your e-mail'
						},
						{
						type   : 'email',
						prompt : 'Please enter a valid e-mail'
						}
						]
					},
					password: {
						identifier  : 'password',
						rules: [
						{
						type   : 'empty',
						prompt : 'Please enter your password'
						},
						{
						type   : 'length[6]',
						prompt : 'Your password must be at least 6 characters'
						}
						]
					}
				}
			});
		});
	</script>  
</body>
</html>
