<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>New Request | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="profile">
	
	<%- include /partials/menu.ejs %>

	<div class="ui main text container">
		<div id="profile_info" class="ui piled segment">
			<h4 class="ui horizontal divider header">Create New Request</h4>
			<form id="processRequest" class="ui small form" method="post">
				<div class="ui one column grid">
					<div class="row">
						<div class="column">
							<h4 class="ui dividing header">Request Information</h4>
							<% if (typeof url != 'undefined' && url) { %>
							<div class="ui icon message">
								<i class="frown icon"></i>
								<div class="content">
									<div class="header">
									Looks like "<%= url %>" is not yet available.
									</div>
									<p>You may request it using the prefilled details below.</p>
								</div>
							</div>
							<% } %>

							<label><b>Request Type</b></label>
							<div class="inline fields field">
								
								<div class="ui selection dropdown">
									<% if (typeof url != 'undefined' && url) { %>
									<input type="hidden" name="req" value="site">
									<% } else { %>
									<input type="hidden" name="req">
									<% } %>
									<input type="hidden" name="req">
									<i class="dropdown icon"></i>
									<div class="default text">Select Type</div>
									<div class="menu">
										<div class="item" data-value="site">Website</div>
										<div class="item" data-value="file">File</div>
										<div class="item" data-value="mail">Email</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<label><b>Request URL</b></label>
							<div class="ui fluid labeled input field">
								<% if (typeof url != 'undefined' && url) { %>
								<input type="text" name="URL" placeholder="http://www.cnn.com" value="<%= url %>">
								<% } else { %>
								<input type="text" name="URL" placeholder="http://www.cnn.com">
								<% } %>
							</div>
						</div>
						<div class="column">
							<br>
							<b>Current Time/Date:</b> <div id="tdate"></div>
						</div>
						<div class="column">
							<br>
							<button class="ui button submit" type="submit">Process</button>
						</div>
					</div>
					<div class="ui error message"></div>
				</div>
			</form>
		</div>
	</div>
	
	<%- include /partials/footer.ejs %>

	<script>
		$(document).ready(function() {
			$('.ui.form')
			.form({
				on: 'blur',
				fields: {
					req: {
						identifier  : 'req',
						rules: [
							{
							type   : 'empty',
							prompt : 'Please enter a value'
							}
						]
					}
				}
			});

			document.getElementById("tdate").innerHTML = Date();

		});
	</script>  
	
</body>
</html>