<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Profile | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="profile">
	
	<%- include /partials/menu.ejs %>
	
	<div class="ui main text container">
		<div id="profile_info" class="ui piled segment">
			<div class="ui pointing secondary menu">
				<% if (typeof tab != 'undefined' && tab == 2) { %>
				<a class="item" data-tab="first">Profile</a>	
				<a class="item notify active" data-tab="second">Notifications (<%= requests.length %>)</a>
				<% } else { %>
				<a class="item active" data-tab="first">Profile</a>
				<a class="item notify" data-tab="second">Notifications (<%= requests.length %>)</a>		
				<% } %> 
			</div>
			<% if (typeof tab != 'undefined' && tab == 2) { %>
			<div class="ui tab" data-tab="first">
			<% } else { %>
			<div class="ui tab active" data-tab="first">			
			<% } %> 
				<form id="updateProfile" class="ui small form">
					<div class="ui two column grid">
						<div class="row">
							<div class="column">
								<div class="ui fluid labeled input">
									<div class="ui label">Name</div>
									<input type="text" name="name" placeholder="Name" value="<%= user.local.name %>">
								</div>
							</div>
							<div class="column">
								<div class="ui fluid labeled disabled input">
									<div class="ui label">ID</div>
									<input type="text" name="id" placeholder="ID" value="<%= user._id %>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<div class="ui fluid labeled input">
									<div class="ui label">Email</div>
									<input type="text" name="email" placeholder="Email" value="<%= user.local.email %>">
								</div>
							</div>
							<div class="column">
								<div class="ui fluid labeled disabled input">
									<div class="ui label">Pass Hash</div>
									<input type="text" name="password" placeholder="Password" value="<%= user.local.password %>">
								</div>
							</div>
						</div>
						<h4 class="ui horizontal divider header">Email Information</h4>
						<div class="row">
							<div class="column">
								<div class="ui fluid labeled input">
									<div class="ui label">Mail User</div>
									<input type="text" name="mailUser" placeholder="Email" value="<%= user.local.mailUser %>">
								</div>
							</div>
							<div class="column">
								<div class="ui fluid labeled input">
									<div class="ui label">Mail Pass</div>
									<input type="text" name="mailPass" placeholder="Password" value="<%= user.local.mailPass %>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<div class="ui fluid labeled input">
									<div class="ui label">Mail Server</div>
									<input type="text" name="mailServer" placeholder="imap.gmail.com" value="<%= user.local.mailServer %>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<button id="update" class="ui button" type="submit">Update</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<% if (typeof tab != 'undefined' && tab == 2) { %>
			<div class="ui tab active" data-tab="second">
			<% } else { %>
			<div class="ui tab" data-tab="second">			
			<% } %> 
				<p>Newly available requests:</p>
				<table class="ui three column celled table">
					<thead>
						<tr>
							<th>Type</th>
							<th>URL</th>
							<th>Priority</th>
							<th>Date</th>
							<th>Clear</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<requests.length; i++) { %>
						<tr id="<%= requests[i]._id %>">
							<td><%= requests[i].type %></td>
							<td><%= requests[i].URL %></td>
							<td><%= requests[i].priority %></td>
							<td><%= requests[i]._id.getTimestamp().toLocaleDateString("en-US") %></td>
							<td><button class="ui button clear" clearid="<%= requests[i]._id %>">X</button></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<%- include /partials/footer.ejs %>

	<script>

	var currentCount = <%= requests.length %>;

	$( "#update" ).click(function() {
		noty({
			text: 'Profile Updated!',
			timeout: 2000,
			layout: 'bottomRight',
			theme: 'relax',
			progressBar: true,
		});
	});

	$('.clear').on('click', function() {
		
		$.ajax({
			context: this,
			type: 'POST',
			url: '/clearnotification',
			data: { ID: $(this).attr('clearid') },
			success: function(resultData) {
				$('#' + $(this).attr('clearid')).remove();
				
				// Clear notification
				currentCount--;
				$('.notify').text('Notifications ('+ currentCount +')');
				noty({
					text: resultData,
					timeout: 2000,
					layout: 'bottomRight',
					theme: 'relax',
					progressBar: true,
				});
				// Update global notifications
				ncheck();
			}
		});
	});

	</script>
	
</body>
</html>