<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Requests | Mars Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="profile">
	
	<%- include /partials/menu.ejs %>

	<div class="ui main text container">
		<div id="profile_info" class="ui piled segment">
			<h4 class="ui horizontal divider header">Existing Requests</h4>
			<ul id="requests_list">
				<% for(var i=0; i<requests.length; i++) { %>
				<li data-key='<%= requests[i]._id %>'>
					<div class="ui blue segment request">
						<div class="ui grid">
							<div class="two wide column priority"><%= requests[i].priority %></div>
							<div class="two wide column"><%= requests[i].type %></div>
							<div class="eight wide column"><%= requests[i].URL %></div>
							<div class="four wide column"><%= requests[i]._id.getTimestamp().toLocaleDateString("en-US") %></div>
						</div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
	
	<%- include /partials/footer.ejs %>

	<script>
	
		var list = document.getElementById("requests_list");
		Sortable.create(list, {
			animation: 0,
			ghostClass: "sortable_ghost",
			onClone: function (evt) {
				var items = evt.to.children;
				for (var i = 0; i < items.length; i++) {
					$(items[i]).children('div.segment').children('div.grid').children('div.priority').html(' ');
				}
			},
			onEnd: function (evt) {
				var items = evt.to.children;
				var result = [];
				for (var i = 0; i < items.length; i++) {
					result.push($(items[i]).data('key'));
					$(items[i]).children('div.segment').children('div.grid').children('div.priority').html(i+1);
				}

				$.ajax({
					context: this,
					type: 'POST',
					url: '/updatePriority',
					data: { order: result },
					success: function(resultData) {
						noty({
							text: resultData,
							timeout: 2000,
							layout: 'bottomRight',
							theme: 'relax',
							progressBar: true,
						});
					}
				});
			}
		});

	</script>
</body>
</html>