
@import 'fonts.css';

pre {
    margin-top: -2em;
    white-space: pre-line;
}


.logo {
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.main {
    flex: 1;
}

#profile {
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-image:url(../img/mars.jpg);
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#profile .main {
    margin-top: 100px;
    margin-bottom: 20px;
}

#login {
    background-color: #2C3539;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#login > .grid {
    height: 100%;
}

#login .image {
    margin-top: -100px;
}

#login .content {
    color: #fff;
}

#login .column {
    max-width: 450px;
}

#requests_list {
    list-style: none;
    padding: 0px;
}

#requests_list li {
    padding: 5px;
}

.sortable_ghost .segment {
    border: 1px dashed grey;
    background: #fff;
    box-shadow: none;
}

.sortable_ghost .segment .grid {
    opacity: 0;
}

#ncount {
    display: none;
}

.mailbox {
    border-right: 0px !important;
}

.mailbox a {
    padding: 10px !important;
}

.mailbox-tab {
    border: 0px !important;
}

.request {
    cursor: ns-resize;
}

.rover {
    position: absolute;
    left: -50px;
    height: 20px;
    bottom: 80px;
}

.rover2 {
    position: absolute;
    right: -50px;
    height: 20px;
    bottom: 80px;
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}